$minWidth: 320px;
$maxWidth: 1152;
$maxWidthConteiner: 856;
$md1: $maxWidthConteiner + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

.container {
  max-width: $maxWidthConteiner + px;
  margin: 0 auto;
  @media (max-width: $md1) {
    max-width: 970px;
  }
  @media (max-width: $md2) {
    max-width: 750px;
  }
  @media (max-width: $md3) {
    max-width: none;
    padding: 0 10px;
  }
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@import url(https://fonts.googleapis.com/css?family=Heebo:regular,500,600,700,900);

.content {
  display: flex;
  flex-direction: row-reverse;
  margin: 160px 20px 0px 20px;
  .image {
    max-width: 243px;
    max-height: 243px;
    border-radius: 150px;
  }
  @media (max-width: 700px) {
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .textBlock {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-right: 105px;
    @media (max-width: 700px) {
      flex-direction: column;
      margin: 0 auto;
      align-items: center;
    }
    .title {
      font-family: "Heebo";
      font-size: 44px;
      line-height: 60px;
      font-weight: 700;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      @media (max-width: 700px) {
        text-align: center;
      }
    }
    .text {
      font-family: "Heebo";
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #21243d;
      // margin-top: 40px;
      // margin-bottom: 40px;
      margin: 40px 0 40px 0;
      @media (max-width: 700px) {
        margin: 40px 15px 40px 15px;
      }
    }
    .button {
      width: 208px;
      height: 50px;
      background: #ff6464;
      border-radius: 5px;
      font-family: "Heebo";
      font-weight: 500;
      font-size: 20px;
      line-height: 29px;
      color: #ffffff;
      border-color: #ff6464;
      transition: all 0.5s;
      &:hover {
        border-radius: 10px;
        box-shadow: 6px 6px 6px rgba(150, 150, 150, 0.7);
      }
    }
  }
}
